<!DOCTYPE html>

<html>

    <head>
        <link rel = 'stylesheet' href="/css/style.css"></link>

        <title>Help</title>

    </head>

    <body>
        <div class="main-content">

        {{>header}}
        <p>{{longitude}} | {{latitude}}</p>

       </div>

        {{>footer}}
    </body>



</html>
